h1 {
	width: 70%;
	text-align: center;
	clear: none;
}
h2 {
	text-align: center;
}
h3 {
	text-align: center;
}
h6 {
	font-style: italic;
	text-align: center;
}
summary-list {
	width: 40%;
}
authors {
	font-style: italic;
	text-align: left;
}
.boxed {
	border: 1px solid red;
	padding: 5px;
	background-color: #eeeeff;
}
boxhead {
	font-weight: 700;
	color: #000066;
	font-size: 1.5em;
}
boxhead_es {
	font-weight: 700;
	color: #000066;
	font-size: 1.25em;
}
boxtext {
	color: #000066;
}
a.lightbox {
	position: relative;
	float: left;
	width: 100%;
}
a.lightbox span {
	background: url("http://resources.bgs.ac.uk/images/zoom-in.png") no-repeat left top transparent;
	height: 1.7em;
	width: 1.7em;
	z-index: 10;
	position: absolute;
	right: 0.5em;
	top: 0.5em;
}
td.col_20 {
	width: 20%;
	border: none;
}
td.col_40 {
	width: 40%;
	border: none;
}
td.col_60 {
	width: 60%;
	border: none;
}
.col-480 {
	width: 51%;
}
